# Pandas

In [5]:
import pandas as pd
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [8]:
#Changing Index Positions
pd.Series({'a':10,'b':20,'c':30},index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

### Extracting Individual Elements

In [9]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

4

In [10]:
#Extracting a Sequence of elements
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
#Extracting Elements from back
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [12]:
#Basic Math Operations on Series
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [13]:
s2=pd.Series([10,20,30,40,50,60,70,80,90])

In [14]:
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [18]:
#Dataframe
df=pd.Dataframe({"Name":["Waleed","Buraak","OOX"],"Marks":[50,60,100]})

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [19]:
iris=pd.read_csv('Player.csv')

In [20]:
iris.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [22]:
iris.tail()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [23]:
iris.shape

(523, 8)

In [24]:
iris.describe()

        Player_Id   Is_Umpire  Unnamed: 7
count  523.000000  523.000000   12.000000
mean   262.003824    0.099426    6.500000
std    151.127981    0.299520    3.605551
min      1.000000    0.000000    1.000000
25%    131.500000    0.000000    3.750000
50%    262.000000    0.000000    6.500000
75%    392.500000    0.000000    9.250000
max    524.000000    1.000000   12.000000

In [36]:
#iloc
#.iloc[index-start:index-end,col-start:col-end]
iris.iloc[500:505,0:3]

     Player_Id     Player_Name  DOB
500        501  RK Illingworth  NaN
501        502    RM Deshpande  NaN
502        503       K Srinath  NaN
503        504          SD Fry  NaN
504        505     CB Gaffaney  NaN

In [38]:
#.loc
#.loc[index-starting:index-ending(inclusive),(Column-name,Column-name)}]
iris.loc[0:3,("Player_Name","DOB")]

   Player_Name        DOB
0   SC Ganguly   8-Jul-72
1  BB McCullum  27-Sep-81
2   RT Ponting  19-Dec-74
3    DJ Hussey  15-Jul-77

In [39]:
#Dropping Columns
#   axis1=column   axis0=row
iris.drop("Player_Name",axis=1)

,Player_Id,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...
518,519,NaN,NaN,NaN,India,1,NaN
519,520,NaN,NaN,NaN,India,1,NaN
520,521,NaN,NaN,NaN,India,1,NaN
521,523,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [40]:
#Dropping Rows
iris.drop([1,2,3],axis=0)

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
5,6,R Dravid,11-Jan-73,Right_Hand,Right-arm offbreak,India,0,NaN
6,7,W Jaffer,16-Feb-78,Right_Hand,Right-arm offbreak,India,0,NaN
7,8,V Kohli,5-Nov-88,Right_Hand,Right-arm medium,India,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [42]:
print(iris.mean())
print(iris.median())
print(iris.min())
print(iris.max())

Player_Id     262.003824
Is_Umpire       0.099426
Unnamed: 7      6.500000
dtype: float64
Player_Id     262.0
Is_Umpire       0.0
Unnamed: 7      6.5
dtype: float64
Player_Id                   1
Player_Name    A Ashish Reddy
Country             Australia
Is_Umpire                   0
Unnamed: 7                1.0
dtype: object
Player_Id            524
Player_Name       Z Khan
Country        Zimbabwea
Is_Umpire              1
Unnamed: 7          12.0
dtype: object